body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}
.header h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.link--download {
  font-size: 16px;
  color: aquamarine;
  
}
