body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}

.header h1 {
  font-weight: 400px;
  font-size: 50px;
}

.link--download {
  font-size: 16px;
  color: aquamarine;
}

h1,
h2 {
  color: white;
}
h2 {
  font-weight: 300px;
  font-size: 42px;
}

p,
footer {
  font-size: 21px;
  color: grey;
}

footer {
  text-align: right;
}
